@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

footer {
	margin-top: auto;
}

.image-container {
	width: 100%;
}

.image-container div {
	position: unset !important;
}

.image-container .image-prof {
	object-fit: contain;
	width: 100% !important;
	position: relative !important;
	height: unset !important;
}
